<h1>Here are your results:</h1>
<p><strong>Your sentence(s):</strong> &nbsp; <%= @object %></p>
<p><strong>Your word:</strong> &nbsp; <%= @word %></p>
<p><strong>Word count:</strong> &nbsp; <%= @answer %></p>
<div class="center">
  <a href="/">COUNT ANOTHER WORD!<a>
</div>
