<h1>Welcome to the Word Counter!</h1>
<form action='/answer'>
  <div class="form-group">
    <label for="object">Enter a sentence, store, novel or whatever you'd like:</label>
    <input id="object" name="object" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="argument">Word to be counted:</label>
    <input id="argument" name="argument" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">COUNT THAT WORD!</button>
</form>
