body {
  background-image: url(/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  color: #FFF;
  padding-left: 10px;
}

a:link {
  color: #FFF;
}

a:visited {
  color: #FFF;
}

button {
  background-color: #FFF;
  color: #000;
}

.btn:hover {
  color: #000;
  background-color: #848484;
  text-decoration: underline;
}
