body {
  background-image: url(/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  color: #FFF;
  padding-left: 10px;
}

a:link {
  color: #FFF;
}

a:visited {
  color: #FFF;
}

button {
  background-color: #FFF;
  color: #000;
}

a {
  text-align: center;
}

.btn:hover {
  color: #FFF;
  background-color: #848484;
  text-decoration: underline;
}

strong {
  color: #848484;
}

.center {
  text-align: center;
  font-size: 30px;
}
